#header
	height 380px
	text-align center
	position relative
	h1
		color white
		position relative
		top 25%
		margin 0
	img 
		position absolute
		top 0 
		left 0
		width 100%
		height 380px
form 
	position relative
	top 45%
select 
	font-size 18px
	padding-left 10px
	height 48px
	width 452px
	border: solid 1px #000
	appearance none
	-moz-appearance none
	-webkit-appearance none
	padding-right 14px
	background  url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent
	background-color rgba(255, 255, 255, 0.7)
.section
	position relative
	top 65%
	height 112px
	width 800px
	margin 0 auto
	background-color #ffffff
	border 1px solid rgba(0,0,0,0.2)
	border-radius 10px
	h2
		font-size 18px
		text-align left
		margin-top 20px
		margin-left 26px
	ul 
		margin 0
		padding 0
		display inline-block
		li
			float left
			list-style none
			height 42px
			width 130px
			margin 0 15px
			&:nth-child(1)
				background-color #8A82CC
			&:nth-child(2)
				background-color #FFA782 
			&:nth-child(3)
				background-color #F5D105 
			&:nth-child(4)
				background-color #559AC8 
			a
				font-size 20px
				color #ffffff
				line-height 42px
				transition all 0.4s
				&:hover 
					text-decoration none
					color #111
.content
	padding 100px 0
	.list
		padding 0
		li
			list-style none
			display inline-block
			padding 15px
			float left
			.top
				width 100%
				height 200px
				position relative
				img
					width 100%
					height 100%
				.name
					font-size 24px
					position absolute
					bottom 5%
					left 5%
					color #FFF
				.zone
					font-size 16px
					position absolute
					color #FFF
					bottom 5%
					right 5%
			.bottom
				border 1px solid rgba(0,0,0,0.2)
				padding-bottom 15px
				position relative
				.visit
					position absolute
					right 20%
					bottom 15%
				span
					margin 12px 0 0 15px
					display block
					font-size 12px
					img
						margin-right 10px
.footer
	background #559AC8
	text-align center
	height 90px
	.footerinfo
		position relative
		top 50%
		transform translateY(-50%)
		h3
			font-size 14px
			color #FFF
		span
			font-size 14px
			color rgba(255,211,102,1)